/* =========    RESET    ========= */

html {
    box-sizing: border-box;
    font-size: 62.5%; /* Calculs 10px = 1.0rem */
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* =========    VARIABLES    ========== */

:root{
  --black: #000;
  --white: #fff;
  --cta: #2C8E9B;
  --light-grey: #D2D2D2;
  --dark-grey: #797979;

  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Quicksand: 'Quicksand', sans-serif;
}

/* =========    BASE    ========= */


body {
    background-color: white;
    margin: 0;
    padding: 0;

    /* Fonts de base */

    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}



/* =========    MISE EN PAGE    ========= */


div.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

a{
  text-decoration: none;
  color: var(--black);
}


/* =========    MODULES    ========= */

/* ==== Header ==== */

header{
  background-color: white;
  z-index: 2;
  padding-top: 35px;
  width: 6500px;
  height: 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img{
  padding-left: 50px;
}

/* ==== Nav ====*/

.menu{
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.menu ul{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0;
  list-style: none;
}

.menu a{
  font: bold 1.6rem var(--font-Quicksand);
  color: var(--black);
  padding: .5rem 1.5rem .5rem; 
  border: solid 2px var(--black);
  transition: all 0.1s ease 0s;
  
}

.menu a:hover{
  color: white;
  background-color: var(--black);
  box-shadow: rgb(80, 80, 80) 5px 5px 0;
  transform: .5s ease-in-out;
}

.menu li{
  transform: .5s ease-in-out;
}

.menu li:hover{
  transform: scale(1.05);
}
/* ==== Hero ==== */

.hero{
  height: 700px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .wrapper{
  height: inherit;
  display: flex;
  align-items: center;
}

.texte-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero h1{
  margin: 0;
  padding-top: 50px;
  font: 600 6.4rem/90% var(--font-Montserrat);
  letter-spacing: 5px;
  width: 75%;
  color: white;
  text-shadow: 3px 1px rgba(0, 0, 0, 0.5);
}

.hero h2{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 75%;
  font: 600 3rem/90% var(--font-Quicksand);
  color: white;
  text-shadow: 3px 1px rgba(0, 0, 0, 0.5);
}

.bouton-shop{
  font: 500 3rem var(--font-Quicksand);
  color: var(--black);
  background-color: white;
  padding: .5rem 2rem .6rem; 
  border: solid 3px white;
  transition: all 0.2s ease 0s;
}

.bouton-shop:hover{
  color: white;
  background-color: var(--black);
  box-shadow: rgb(80, 80, 80) 8px 8px 0;
  transform: scale(1.05);
}

/* ==== Section Mission ==== */

.mission{
  height: 600px; 
}

.mission .wrapper{
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/mission.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 90%;
  background-size: 35%;
}

.texte-mission{
  width: 50%;
}

.mission h3{
  padding-bottom: 50px;
  margin: 0 auto;
  font: bold 3rem var(--font-Montserrat);
  color: var(--black);
}

.mission p{
  margin: 0;
  font: 500 1.4rem/160% var(--font-Quicksand);
  color: var(--black);
  width: 100%;
}

/* ==== Section Designs ==== */

/* == Side-menu == */

.colonne-menu{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-categories{
  display: flex;
  flex-direction: column;
}

.side-menu{
  margin-top: 20px;
}

.side-menu h4{
  padding-bottom: 5px;
  margin: 0;
  font: bold 2.4rem var(--font-Quicksand);
}

.side-menu nav{
  padding-top: 20px;
}

.side-menu nav a{
  font: 500 1.6rem var(--font-Quicksand);
}

.side1{
  transition-delay: 0.1s;
}
.side2{
  transition-delay: 0.15s;
}
.side3{
  transition-delay: 0.20s;
}
.side4{
  transition-delay: 0.25s;
}

.side-menu nav a:hover{
  color: white;
}

.list-design .wrapper{
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.list-design .wrapper nav ul{
  padding: 20px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* display: none; */
}

.side-menu{
  display: flex;
  gap: 20px;
  align-items: center;
}

.dropdown-arrow{
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.dropdown-arrow:hover{
  color: white;
  background-color: black;
}

#dropdown-categories li{
  padding: 10px 0 10px;
}


#dropdown-categories{
  margin: 0;
  display: none;
  transition: .2s;
}

#dropdown-categories.visible{
  padding-top: 10px;
  height: 100px;
  display: block;
}

/* ============= */

.all-designs{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contenu a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
  }

.list-design h2{
    position: absolute;
    left: 0;
    top: 100px;
    margin: 0 auto;
    font: bold 3rem var(--font-Montserrat);
    color: var(--black);
}  

.design h3{
    margin-top: 50px;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    width: 100px;
    
  }
  

  .list-design .wrapper{
    position: relative;
    padding-top: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
 
  
  .item{
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .design{
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    transition: 0.5s;
    
  }
  
  .design .contenu::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 180%;
    height: 50%;
    border-radius: 20px;
    transition: 0.5s;
  }
  
  .design:hover .contenu::before{
    background: rgba(80, 80, 80, 0.2);
    clip-path: circle(600px at center);
  }
  
  .product{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 5rem;
    height: 100px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .design:hover .product{
    transform: translate(100%,0);
    height: 200px;
  }
  
  .contenu{
    position: relative;
    top: 50%;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  
  .contenu p{
    padding-top: 30px;
  }
  
  
  
  .design .contenu{
    position: relative;
    width: 30%;
    left: -30%;
    top: 20%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  
  .design:hover .contenu{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }


/* ==== Section Services ==== */




/* ==== Section Contact ==== */



/* ==== Footer ==== */
 